html {
    scroll-behavior: smooth;
}

.body {
    min-width: 320px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    letter-spacing: .12px;
    line-height: 29px;
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 8px;
}

::placeholder {
    color: #bab9c1 !important;
    font-style: italic;
    font-size: 15px;
    padding-left: 2px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

::placeholder:last-child {
    padding-left: 25px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

a,
a:active,
a:focus,
a:hover,
button,
button:active,
button:focus,
button:hover {
    text-decoration: none;
    outline: 0;
}

a,
button {
    transition: .3s all ease-in-out;
}

.secondary-button {
    transition: .3s all ease-in-out;
    border-radius: 40px;
    padding: 10px 42px;
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 20px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    background-color: #e0406e;
    border: none;
    color: #fff;
}

.secondary-button:focus {
    outline: none;
}

.heading-text {
    color: #f6f8fa;
    font-family: Poppins, sans-serif;
    font-size: 28px;
    letter-spacing: .21px;
    line-height: 42px;
    text-align: center;
    font-weight: 300;
}

.tertiary-button {
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #1b242a;
    cursor: pointer;
}

.tertiary-button:hover,
.tertiary-button:active,
.tertiary-button:focus {
    outline: none;
    color: #e0406e;
}


/*--------navbar css starts here------*/

.header-block {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #282435;
    padding: 28px 31px 24px 8px;
    height: 104px;
    z-index: 9;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.navbar-brand {
    margin-left: 1.65%;
    margin-top: 0px;
}

.nav-item {
    margin-left: 4.59%;
    margin-top: 7px;
}

.nav-item:last-child {
    margin-top: 0px;
}

.nav-item:nth-child(1) {
    margin-left: 0px;
}

.navbar-nav {
    margin-top: -4px;
}

.nav-link {
    color: #cac3e0;
    padding: 0 !important;
    font-size: 16px;
    letter-spacing: .13px;
    line-height: 25px;
    transition: .3s all ease-in-out;
}

.nav-link.active {
    color: #ff497d !important;
    background-color: transparent !important;
}

.nav-link:hover {
    color: #ff497d !important;
}

.talk-to-us-button {
    padding: 10px 22px;
    background: transparent;
    color: #cac3e0;
    border: 1px solid #ff497d;
    letter-spacing: .5px;
    line-height: 18px;
}

.talk-to-us-button:hover {
    color: #ff497d;
}


/*------------ navbar css ends here--------------------- */


/*-------------- banner block css starts here -----------*/

.banner-block {
    padding: 15.3% 5% 7.97% 5%;
    background: #282435;
    background: url('../assets/homepage-banner.png');
    background-position: right;
}

.banner-main-text {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .24px;
    line-height: 48px;
    margin-bottom: 24px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.text-highlight {
    color: #ff497d;
}

.banner-secondary-text {
    color: #cac3e0;
    font-weight: 300;
    font-size: 16px;
    width: 49%;
    line-height: 25px;
    margin: 0 auto;
    margin-bottom: 32px;
    letter-spacing: .12px;
}

.banner-button-container {
    margin-left: -20px;
}

.banner-button:hover {
    background: #b92e55;
}

.banner-button:focus {
    background: #9a2748;
}


/*-------------- banner block css ends here -----------*/


/* -------services section css starts here------- */

.services-section {
    background: #f6f8fa;
}

.heading {
    padding: 4% 0 24px;
}

.heading span:last-child {
    font-weight: 600;
}

.heading p {
    color: #1b242a;
    margin-top: 12px;
    margin-bottom: 0;
}

.underline {
    width: 76px;
    padding: 2px 0;
    background: #ff497d;
    border-radius: 20px;
    margin: auto;
}

.service-card {
    max-width: 373px;
    padding: 32px 32px 0 32px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .26);
    margin: auto;
}

.services-image {
    width: 84%;
}

.service-cards-container {
    max-width: 1240px;
    margin: auto;
}

.card-main-text {
    color: #282435;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .15px;
    line-height: 30px;
    margin: 24px 0;
}

.card-content {
    color: #777384;
    font-size: 16px;
    letter-spacing: .12px;
    line-height: 29px;
    max-width: 100%;
    margin: auto;
}

.card-bottom-block {
    padding: 43px 0 16px 0;
}

.need-help-container {
    padding-left: 21px !important;
}

.need-help-container .card-main-text {
    margin-top: 21px;
}

.need-help-container .tertiary-button {
    margin-top: 23px;
    padding-left: 0;
}

.user-exp-card {
    max-width: 100%;
    padding-top: 11px;
    padding-bottom: 25px;
    border-radius: 8px;
}

.core-skills-item.text-center {
    display: inline-block;
    margin-right: 6.9%;
}

.service-cards-container:last-child {
    padding-top: 40px;
    padding-bottom: 64px;
}

.service-card:nth-child(3) {
    padding-bottom: 8px;
}

.user-exp-card-img {
    height: 340px !important;
    margin: 21.8% 0 18% 21.5%;
}

.card-inner-content {
    max-width: 87%;
    margin: auto;
}

.w-100 {
    max-width: 100%;
}

.core-skills-container {
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
}


/*------------client images section css starts here ----------*/

.clients-section {
    padding: 4% 0 4%;
}

.client-img-container {
    max-width: 1440px;
    text-align: center;
    margin: auto;
}

.client-img-div {
    width: 18%;
    display: inline-block;
}

.client-img-div img {
    max-width: 200px;
    margin: auto;
}


/*------------client images section css ends here ----------*/


/*------------who we are section css starts here ----------*/

.who-we-are-section {
    padding: 4% 0 4%;
    background-image: url(../assets/who-are-we-bg.png);
    background-position: left;
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.what-we-do-content {
    text-align: left;
}

.what-we-do-button {
    margin-top: 32px;
    padding: 0;
}

.what-we-do-columns .card-content {
    width: 94%;
    margin-left: 0;
}

.what-we-do-columns:first-child {
    margin-bottom: 62px;
}

.what-we-do-columns .underline {
    margin: 12px 0 0 0;
}


/*------------who we are section css starts here ----------*/

.footer {
    background: #282435;
    padding-top: 64px;
    padding-bottom: 32px;
    background: url('../assets/footer-background.png');
    background-position: center;
    position: relative;
}

.footer .secondary-button {
    background: transparent;
    border: 1px solid #e0406e;
    color: #cac3e0;
}

.footer .heading-text {
    font-weight: 200;
    margin-bottom: 32px;
}

.footer-address-p {
    font-weight: 300;
    color: #cac3e0;
}

.footer-row {
    margin-top: 32px;
}

.footer-contact-number,
.footer-contact-email {
    text-decoration: none;
    color: #cac3e0;
    cursor: pointer;
}

.footer strong {
    font-weight: 500 !important;
}

.footer-contact-number:hover,
.footer-contact-email:hover {
    text-decoration: none;
    color: #cac3e0;
}

.icon-column {
    padding-left: 2.6% !important;
}

.icon-column ul {
    padding-left: 0;
}

.icon-column ul li {
    display: inline-block;
    text-decoration: none;
}

.footer-icon i {
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin-right: 24px;
}

.footer-copyright {
    color: #cac3e0;
    font-weight: 300;
    font-size: 14px;
}

.UXR-webiste-link {
    color: #50abef;
    cursor: pointer;
    text-decoration: none;
}

.UXR-webiste-link:hover {
    color: #50abef;
}


/* ---------------------------------------------------------------contact-page css ---------------------------------------------------------------*/

.contact-content {
    padding-bottom: 4.5%;
    padding-top: 11.7%;
}

.response-container {
    display: none;
}

.form-response-data {
    padding: 25px 25px 185px 25px;
}

.banner-text {
    width: 85%;
    margin: auto;
    line-height: 44px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .24px;
}

.banner-higilight-text {
    color: #ff497e;
}

.contact-img {
    margin-top: 40px;
}

.form-elements {
    border: none !important;
    border-bottom: 1px solid #b5b3bd !important;
    border-radius: 0 !important;
    text-align: center;
    padding-top: 12px !important;
    padding-bottom: 4px !important;
    color: #282435 !important;
    font-size: 16px !important;
    letter-spacing: .12px !important;
    font-weight: 300 !important;
    line-height: 18px !important;
    height: auto !important;
}

.form-elements:focus {
    outline: none;
    box-shadow: none !important;
}

::placeholder {
    color: red;
}

p.form-error {
    color: #e0406e;
}

.form-block-div {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .26);
    padding: 32px;
    color: #777384;
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 18px;
    width: 83%;
}

.contact-form,
.submit-button {
    margin-top: 24px;
}

.form-elements {
    margin-bottom: 24px;
}

.disabled-button {
    background-color: #e1e1e6;
    pointer-events: none;
    cursor: pointer;
}


/* ---------------------------------------------------------------about-us page css ---------------------------------------------------------------*/

.about-us-main-container.body-start {
    margin-top: 104px;
}

.our-team-container {
    padding: 64px;
}

.about-us-heading {
    color: #1b242a;
    font-weight: 400;
}

.about-us-heading-strong {
    font-weight: 600 !important;
}

.our-team-content,
.our-info-content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.our-team-map-container {
    max-width: 82%;
    margin: auto;
    margin-top: 76px;
    margin-bottom: 20px;
}

.about-team-image {
    width: 30%;
    max-width: 86px;
}

.about-team-content {
    width: 65%;
    vertical-align: top;
    display: inline-block;
}

.about-our-team {
    margin-top: 20%;
}

.lets-talk-modal-dialog {
    max-width: 54.5% !important;
}

.section-content {
    margin-bottom: 4px;
    color: #777384;
    font-size: 15px;
    letter-spacing: .11px;
    line-height: 23px;
}

.section-title {
    margin-bottom: 0;
    color: #1b242a;
    font-size: 28px;
    letter-spacing: .21px;
    font-weight: 400;
    line-height: 42px;
}

.country-list h3 {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    animation: titleAnimation 28s linear infinite 0s;
}

.about-location div h3:nth-child(2) {
    animation-delay: 4s;
    -ms-animation-delay: 4s;
    -webkit-animation-delay: 4s;
}

.about-location div h3:nth-child(3) {
    animation-delay: 8s;
    -ms-animation-delay: 8s;
    -webkit-animation-delay: 8s;
}

.about-location div h3:nth-child(4) {
    animation-delay: 12s;
    -ms-animation-delay: 12s;
    -webkit-animation-delay: 12s;
}

.about-location div h3:nth-child(5) {
    animation-delay: 16s;
    -ms-animation-delay: 16s;
    -webkit-animation-delay: 16s;
}

.about-location div h3:nth-child(6) {
    animation-delay: 20s;
    -ms-animation-delay: 20s;
    -webkit-animation-delay: 20s;
}

.about-location div h3:nth-child(7) {
    animation-delay: 24s;
    -ms-animation-delay: 24s;
    -webkit-animation-delay: 24s;
}

@keyframes titleAnimation {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(-5px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    12% {
        opacity: 1;
        transform: translateY(0);
    }
    16% {
        opacity: 0;
        transform: translateY(0);
    }
    20% {
        opacity: 0;
        transform: translateY(5);
    }
    40% {
        opacity: 0;
        transform: translateY(5);
    }
    50% {
        opacity: 0;
        transform: translateY(5);
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.about-team,
.about-location,
.about-products {
    text-align: left;
    margin-bottom: 40px;
}

.interaction-div {
    margin-bottom: 48px;
}

.our-info-section,
.our-clients-section {
    padding: 48px 0;
    padding-bottom: 72px;
    background-color: #f6f8fa;
}

.client-img-list {
    max-width: 75%;
    text-align: center;
    margin: auto;
}

.client-img-list img {
    max-width: 170px;
}

.aboutus-response-container {
    display: none;
}

.your-logo-box {
    display: inline-block;
    text-align: center;
    width: 100px;
    border-radius: 8px;
    background-color: #b8b9bb;
    vertical-align: middle;
    padding: 4px 0;
    color: #fff;
}

.your-logo-box .default-state {
    color: #f6f8fa;
    font-size: 29px;
    letter-spacing: .22px;
    line-height: 43px;
}

.your-logo-box .hover-state {
    display: none;
    font-size: 16px;
    letter-spacing: .12px;
    line-height: 25px;
}

.your-logo-box:hover {
    background: #e0406e;
    cursor: pointer;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .26);
}

.your-logo-box:hover .default-state {
    display: none;
}

.your-logo-box:hover .hover-state {
    display: inline-block;
    padding: 9px 0;
}

.testimonial-card {
    background: white;
    border-radius: 8px;
    max-width: 622px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .26);
    padding: 24px 24px 17px 24px;
}

input.invalid-email {
    border-bottom: 1px solid #e0406e !important;
}

.testimonials-section {
    padding: 48px 0;
    max-width: 1240px;
    margin: auto;
}

.modal-close-icon {
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: 4%;
    z-index: 9;
    opacity: 1 !important;
}

.aboutus-modal-dialog {
    max-width: 568px !important;
    height: 530px;
}

.aboutus-modal-content {
    border-radius: 11px !important;
}

.aboutus-modal-body {
    border-radius: 8px;
}

.modal-close-icon:hover {
    opacity: 1;
}

.modal-close-icon:focus:active {
    outline: none;
}

.testimonial-content {
    color: #777384;
    font-size: 15px;
    font-style: italic;
    letter-spacing: .09px;
    line-height: 29px;
    padding-bottom: 5%;
}

.testimonial-client-img {
    max-width: 86px;
    margin-right: 8px;
    max-height: 86px;
}

.quotes {
    max-width: 44px;
    max-height: 44px;
    position: absolute;
    right: 33px;
}

.client-details .client-name {
    color: #777384;
    font-size: 16px;
    letter-spacing: .12px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 12px;
}


/*------------------------- faq page css starts here------------- */

.body-start.faq-page-body {
    margin-top: 104px;
}

.faq-heading {
    padding: 64px 0 32px;
    border-bottom: 2px solid #dfdfe2;
}

.faq-heading .heading-text {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .24px;
    line-height: 48px;
    color: #212529;
}

.faq-response-container {
    display: none;
}

.faq-options,
.offerings-sidebar {
    padding: 0 3%;
    background-color: #f6f8fa;
    text-align: center;
    height: 100%
}

.faq-options a:hover,
.offerings-sidebar a:hover {
    text-decoration: none;
}

a.active {
    color: #ff497d !important;
}

li.active {
    color: #ff497d !important;
}

.faq-services-list:hover {
    color: #ff497d;
}

.faq-services-list {
    list-style: none;
    color: #282435;
    font-size: 28px;
    letter-spacing: .21px;
    line-height: 42px;
    padding: 2px 0;
    margin-left: 0;
    text-align: left;
}

.faq-pricing-img {
    width: 81%;
}

.service-section-para {
    pointer-events: none;
    margin: 24px;
    color: #282435;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: .21px;
    line-height: 42px;
}

.card-header.faq-card {
    background: none;
    padding: 0;
}

.card-header {
    border-bottom: 0 !important;
}

.service-accordian .card {
    border: none;
    border-bottom: 1px solid #dfdfe2 !important;
    border-radius: 0;
    text-align: left;
    padding: 0%;
    margin-left: 3.9%;
    margin-right: 16.5%;
}

.service-accordian .card:last-child {
    border-bottom: none !important;
}

.faq-card h2 .btn-link {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .15px;
    line-height: 25px;
    background: 0 0;
    border: none;
    cursor: pointer;
    padding: 10px 0 11px 0;
}

.accordian-minus {
    display: none;
}

.accordian-plus {
    margin-right: 10px;
}

span.float-right.rotated-icon {
    transform: rotate(-90deg);
}

#service-accordian,
#pricing-accordian,
#other-accordian {
    border-bottom: 2px solid #dfdfe2;
}

.faq-question:hover {
    text-decoration: none !important;
}

.faq-question:focus {
    text-decoration: none !important;
}

.faq-card:focus {
    border-bottom: 0 !important;
    outline: 0;
}

.faq-options-list {
    margin-left: 0%;
    padding-top: 7%;
    padding-left: 9.55%;
}

.faq-options-list li a {
    color: #282435;
}

.faq-options-list li a:hover {
    color: #ff4b7f;
}

.faq-form-block {
    width: 66.7%;
    margin: auto
}

.faq-heading-container {
    color: #1b242a;
    font-size: 28px;
    font-weight: 300;
}

.faq-other-button {
    margin-bottom: 45%;
    transition: all 0.3s ease-in;
}


/* ---------------- offerings page css starts here-------------- */

.offering-secondary-text {
    color: #777384;
    width: 65%;
    margin-top: 32px;
}

.each-offer-button-container {
    text-align: left;
}

strong {
    font-weight: 700 !important;
}

.offering-slide {
    margin-top: 30px !important;
}

.tab-slide-option {
    pointer-events: none;
    margin: 24px;
    color: #282435;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: .21px;
    line-height: 42px;
}

section#experience-audit,
#product-audit-accordian {
    padding-left: 2.4%;
}

#experience-audit,
#usability-audit,
#product-audit {
    border-bottom: 2px solid #dfdfe2;
}

#usability-audit-accordian {
    padding-left: 2.39%;
}

.what-to-expect-description {
    max-width: 98%;
}

.carousel-container {
    padding-left: 2px !important;
}

.offering-secondary-title {
    color: #282435;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .15px;
    line-height: 25px;
    background: 0 0;
    border: none;
    cursor: pointer;
    padding: 10px 0;
    margin-top: 20px;
}

.offering-page-content,
.looking-for-help-content {
    color: #777384;
    font-size: 16px;
    letter-spacing: .12px;
    line-height: 29px;
}

.tab-experience-info {
    display: none;
    font-size: 12px;
    letter-spacing: .1px;
    line-height: 24px;
    color: #777384;
}

.experience-info-icon {
    max-width: 20px;
    margin-left: 7px;
    transition: .3s all ease-in-out;
    border-radius: 50px;
    cursor: pointer;
}

.carousel-image {
    max-width: 450px !important;
    display: inline-block;
    width: 100%;
}

#experience-audit-carousel {
    margin: 32px 0;
}

.carousel {
    text-align: center;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .16);
    max-width: 95%;
    margin: 32px auto;
}

.carousel-indicators {
    bottom: -46px !important;
}

.carousel-indicators-item.active {
    background: #d8d8d8;
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-radius: 20px;
    border: 1px solid #d7d7d7;
    box-sizing: border-box !important;
}

.each-tool-name {
    color: #1b242a;
    font-size: 20px;
    letter-spacing: .15px;
    line-height: 30px;
    font-weight: 300;
    margin: 10px 0;
}

.each-process-item-image {
    width: 30%;
    max-width: 100px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: #ffffff;
}

.each-item-content {
    margin-left: 24px;
    margin-top: 16px;
    width: 75%;
    display: inline-block;
}

.horizontal-dotted-line {
    display: inline-block;
    width: 0;
    border: 1px dashed #777384;
    height: 68%;
    position: absolute;
    top: 85px;
    left: 49px;
    z-index: unset;
}

.each-tool-description {
    font-size: 14px;
    color: #777384;
    letter-spacing: .1px;
    overflow-wrap: break-word;
    margin-top: 8px;
    line-height: 25px;
    max-width: 99%;
}

.our-process-offers-container {
    margin-top: -4px;
}

.experience-audit-duration-section .col-md-12 {
    padding-left: 0;
}

.experience-audit-duration-section {
    margin-bottom: #dfdfe2;
}

.each-process-item {
    margin-top: 4px;
}

.each-offer-button-container {
    margin: 48px -1px;
    margin-top: 35px;
}

.link-to-uxr-blog {
    color: #50abef;
    font-size: 14px;
    letter-spacing: .54px;
    line-height: 21px;
    font-weight: 500;
}

.offering-page-content.uxr-link a:hover {
    text-decoration: none;
}

.carousel-indicators {
    z-index: 0 !important;
}

.uxr-link {
    margin-bottom: 32px;
}

.looking-for-help-img {
    max-width: 99.4% !important;
}

.looking-for-help-inner-container {
    padding: 32px 32px 8.5% 9.5%;
}

.looking-for-help-title {
    font-weight: 500;
    background: 0 0;
    border: 0;
    padding: 0;
    color: #1b242a;
    font-size: 28px;
    letter-spacing: .21px;
    line-height: 42px;
    margin-bottom: 24px;
}

.looking-for-help-container {
    background: url('../assets/who-are-we-bg.png');
    background-size: cover;
}

@media only screen and (max-width:1200px) {
    .header-block {
        padding: 28px 31px 24px 12px;
    }
    .nav-item {
        margin-left: 4.78%;
        margin-top: 7px;
    }
    .banner-block {
        padding: 16.70% 5% 7.97% 5%;
    }
    .core-skills-item.text-center {
        margin-right: 1.9%;
    }
}

@media only screen and (max-width:992) {
    .header-block {
        padding: 28px 31px 24px 17px;
    }
    .nav-item {
        margin-left: 5.25%;
        margin-top: 7px;
    }
    .banner-block {
        padding: 19.5% 5% 7.97% 5%;
    }
    .banner-secondary-text {
        width: 66%;
    }
}


/*--------------------------------------- Meqia queries for all pages--------------------------------------- */

@media only screen and (min-width:768px) {
    .fa-chevron-down {
        display: none !important;
    }
}


/*--------------------------------------- Meqia queries for tab--------------------------------------- */

@media only screen and (max-width:767px) {
    /* home page css */
    .underline {
        margin: 0 auto;
    }
    .header-block {
        height: 80px;
    }
    .navbar-brand-img {
        width: 150px;
        height: 41.28px;
    }
    .navbar-collapse ul {
        background: #282435;
        width: 100%;
        position: fixed;
        right: 0;
        left: 0;
        justify-content: flex-start;
        top: 58px;
        bottom: 0;
        z-index: 99;
        text-align: center;
        transition: height .1s;
    }
    .nav-item {
        margin-left: 0;
        margin-top: 16px;
    }
    .nav-link {
        font-size: 14px;
        line-height: 26px;
        font-weight: 600;
        color: white;
    }
    .header-block {
        padding: 20px 21px 24px 11px
    }
    .navbar-toggler {
        padding-top: 0 !important;
        margin-top: -6px;
    }
    .navbar-toggler:focus {
        outline: 0 !important;
    }
    .nav-item:nth-child(1) {
        margin-top: 8px;
    }
    .nav-item:last-child {
        margin-top: 26px;
    }
    .bar:first-child {
        margin-top: 0;
    }
    .bar {
        width: 22px;
        height: 2px;
        background-color: #fff;
        display: block;
        transition: all .2s;
        margin-top: 4px;
    }
    .top-bar.open {
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
        transform-origin: 10% 10%;
    }
    .middle-bar.open {
        width: 0%;
        opacity: 0;
    }
    .bottom-bar.open {
        transform: rotate(-45deg);
        top: 39px;
        left: 8px;
        transform-origin: 10% 90%;
    }
    .banner-block {
        padding: 15% 5% 8.1% 5%;
    }
    .banner-secondary-text {
        width: 80%;
    }
    .service-card {
        max-width: 640px;
        margin-bottom: 24px;
        text-align: center;
    }
    .services-image {
        width: auto;
    }
    .user-exp-card {
        text-align: center;
    }
    .user-exp-card-img {
        margin: 4% 0 0% 0%;
    }
    .core-skills-item.text-center {
        display: inline-block;
        max-width: 24%;
        margin-right: 0;
        vertical-align: top;
    }
    .core-skills-item:first-child {
        margin-left: 6%;
    }
    .tab-hide-logo {
        display: none;
    }
    .client-img-div {
        width: 25%;
    }
    .client-img-div img {
        max-width: 150px;
    }
    .what-we-do-content {
        text-align: center;
    }
    .what-we-do-columns .underline {
        margin: 12px auto 0;
    }
    .what-we-do-columns .heading-text,
    .underline {
        text-align: center !important;
    }
    .who-we-are-img-div img {
        margin-bottom: 40px;
    }
    .footer-first-row>div {
        margin-top: 30px;
    }
    .footer-contact-div p {
        margin-top: 27px;
    }
    .icon-column {
        padding-left: 4.6% !important;
    }
    .footer-first-row {
        margin-top: 30px;
    }
    .footer-span {
        display: block;
    }
    .social-icons-row {
        margin-top: 56px;
    }
    /*aboutus page css starts from here*/
    .our-team-content,
    .our-info-content {
        width: 77%;
        margin-top: 1.2%;
        color: #777384;
    }
    .about-us-main-container.body-start {
        margin-top: 54px;
    }
    .about-us-heading-strong {
        font-weight: 600 !important;
    }
    .about-us-heading {
        margin-bottom: 16px;
    }
    .our-team-container {
        padding: 30px 0;
    }
    .our-team-map-container {
        max-width: 100%;
        margin: auto;
        margin-top: 40px;
    }
    .about-team,
    .about-location,
    .about-products {
        width: 32%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }
    .about-our-team {
        text-align: center;
        margin-top: 4%;
    }
    .about-team-image {
        max-width: 86px !important;
        width: 100%;
    }
    .our-info-content {
        width: 80% !important;
        color: #777384
    }
    .client-info {
        position: relative;
    }
    .testimonial-card {
        margin: 17px auto;
    }
    .quotes {
        right: 0;
    }
    .testimonials-section {
        max-width: 96%;
    }
    .your-logo-box .default-state {
        display: none;
    }
    .your-logo-box {
        background: #e0406e;
        padding: 15px 0;
        margin-top: 32px;
    }
    .your-logo-box .hover-state {
        display: block;
    }
    .lets-talk-modal-dialog {
        max-width: 85.5% !important;
    }
    .modal-close-icon {
        right: 8%;
        top: 7%;
        width: 21px;
    }
    /*----------------aboutus page css ends here-----------------------*/
    /*-------------------------------contact page css starts here---------*/
    .contact-content .banner-text {
        text-align: center !important;
        margin-bottom: 48px;
    }
    .form-block-div {
        margin: auto;
        max-width: 80%;
    }
    .contact-img {
        display: none;
    }
    .contact-content {
        padding-bottom: 4.5%;
        padding-top: 15.4%;
    }
    /*---------------------------------contact page css ends here-------------------------*/
    /* --------------------------------------faq page css starts here---------------------*/
    .faq-options {
        display: none;
    }
    .accordian-plus {
        display: none;
    }
    .service-accordian .card {
        margin-left: 0;
        margin-right: 0;
    }
    .card .collapse {
        display: block !important;
    }
    .card-header.faq-card {
        border-bottom: 0px;
    }
    .tab-slide-option {
        margin: 0;
        pointer-events: all;
        padding: 10px 2%;
        background: #f6f8fa;
        cursor: pointer;
        border-bottom: 2px solid #dfdfe2;
        font-size: 20px;
    }
    #parent-accordian {
        padding-right: 0;
        padding-left: 0;
    }
    .card-body {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .faq-question {
        pointer-events: none;
    }
    .body-start.faq-page-body {
        margin-top: 54px;
    }
    .card-body.card-body-content {
        padding: 0 4% 0 0;
    }
    .service-accordian {
        padding-left: 2%;
    }
    /* --------------------------------------------------faq page css ends here----------------------------------*/
    /* ------------------------------------------------offerings page css starts here ----------------------------*/
    #offerings-parent-accordian {
        padding: 0;
    }
    .offering-slide {
        margin-top: 0 !important;
    }
    section#experience-audit {
        padding-left: 0;
    }
    .offerngs-page-body .row {
        margin-left: 0;
        margin-right: 0;
    }
    .offering-secondary-text {
        width: 97%;
    }
    .offering-secondary-title {
        padding-left: 3.28%;
    }
    .offering-secondary-title {
        padding-left: 0;
    }
    .what-to-expect-description {
        max-width: 100%;
    }
    .experience-info-text {
        display: none;
    }
    .tab-experience-info {
        display: block !important;
    }
    #experience-audit-carousel {
        margin: 13px 0 31px;
        margin-left: 2%;
    }
    .experience-audit-duration-section {
        margin-left: 3.2%;
        margin-top: 3.5%;
    }
    .each-item-content {
        margin-left: 20px;
        margin-top: 1px;
        width: 69%;
        display: inline-block;
    }
    #usability-audit-accordian {
        padding-left: 0;
    }
    .each-offer-button-container {
        text-align: center;
    }
    .looking-for-help-title {
        width: 66%;
        margin-top: 24px;
    }
    .looking-for-help-img {
        max-width: 50.2% !important;
        margin-left: 20%;
    }
}

@media only screen and (max-width:576px) {
    /* --------------------------home page css -----------------------------------------------*/
    .navbar-brand-img {
        width: 130px;
        height: 35px;
    }
    .header-block {
        padding: 11px 21px 24px 14px;
        height: 54px;
    }
    .banner-block {
        padding: 23.5% 5% 16.5% 5%;
    }
    .banner-main-text {
        font-size: 24px;
        line-height: 35px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .banner-secondary-text {
        width: 90%;
        line-height: 18px;
        letter-spacing: 0.09px;
        font-size: 12px;
    }
    .banner-button-container {
        margin-left: 0;
    }
    .heading {
        padding: 32px 0 16px;
    }
    .heading-text {
        font-size: 16px;
        letter-spacing: .12px;
        line-height: 25px;
    }
    .services-image {
        max-width: 100%;
    }
    .card-main-text,
    .card-content {
        font-size: 14px;
        letter-spacing: .1px;
        line-height: 21px;
    }
    .card-content,
    .footer-address-p,
    .footer-contact-div,
    .footer-copyright,
    .page-content {
        font-size: 12px;
        letter-spacing: .09px;
        line-height: 18px;
    }
    .tertiary-button {
        font-size: 14px;
        line-height: 21px;
    }
    .service-cards-container:last-child {
        padding-top: 0px;
        padding-bottom: 24px;
    }
    .card-main-content:last-child {
        margin-top: 0;
    }
    .card-inner-content {
        max-width: 94%;
    }
    .core-skills-item img {
        max-width: 80%;
    }
    .client-img-div {
        width: 100%;
    }
    .what-we-do-columns .card-content {
        line-height: 29px;
    }
    .who-we-are-section {
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .who-we-are-image-div img {
        max-width: 100%;
    }
    .footer-first-row {
        margin-top: 0;
    }
    .icon-column {
        padding-left: 6.6% !important;
    }
    .footer-contact-div p {
        margin-top: 23px;
    }
    .footer-logo-container {
        margin-top: 30px;
    }
    .social-icons-row {
        margin-top: 31px;
    }
    .footer .heading-text {
        margin-bottom: 26px;
    }
    .footer-logo-container {
        margin-top: 30px;
    }
    .footer-address-container {
        margin-top: 24px !important;
    }
    .footer-contact-container {
        margin-top: 24px !important;
    }
    /*------------------------------ home page css ends here --------------------------- */
    /* -----------------------------about us page css  starts here------------------------*/
    .our-team-content {
        font-size: 12px;
        line-height: 18px;
        width: 100%;
    }
    .our-team-map-container {
        margin-top: 42px;
    }
    .about-our-team {
        text-align: center;
        margin-top: 9%;
        width: 80%;
        margin: 8% auto 0%;
    }
    .about-team,
    .about-location,
    .about-products {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
    .about-team-image {
        max-width: 50px !important;
    }
    .section-content {
        font-size: 11px;
        line-height: 17px;
        letter-spacing: .08px;
    }
    .section-title {
        font-size: 16px;
        letter-spacing: .12px;
        line-height: 25px;
    }
    .about-team,
    .about-location,
    .about-products,
    .interaction-div {
        margin-bottom: 20px;
    }
    .about-products {
        margin-bottom: 10px;
    }
    .our-team-content,
    .our-info-content {
        margin-top: 0;
    }
    .our-info-section {
        padding-bottom: 32px;
    }
    .testimonials-section {
        max-width: 100%;
        padding: 24px;
    }
    .testimonial-content {
        font-size: 12px;
        letter-spacing: .09px;
        line-height: 20px;
    }
    .quotes {
        max-width: 30px;
        max-height: 30px;
    }
    .testimonial-client-img {
        max-width: 56px;
        max-height: 56px;
    }
    .testimonial-first-card {
        margin-top: 0;
    }
    .testimonial-second-card {
        margin-top: 13px;
    }
    .about-us-heading {
        margin-bottom: 8px;
    }
    .client-details .client-name,
    .client-company {
        font-size: 11px;
        letter-spacing: .09px;
        line-height: 18px;
        margin-top: 0;
    }
    .client-img-list img {
        max-width: 105px;
    }
    .your-logo-box .default-state {
        display: none;
    }
    .your-logo-box {
        background: #e0406e;
        padding: 15px 0;
        margin-top: 32px;
    }
    .your-logo-box .hover-state {
        display: block;
    }
    /* -----------------------------about us page css ends here  ------------------------*/
    /* -----------------------------contact page css starts here  ------------------------*/
    .contact-content {
        padding-top: 14.5%;
    }
    .contact-content .banner-text {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 35px;
        letter-spacing: .18px;
    }
    .form-block-div {
        width: 95%;
        max-width: 100%;
        padding: 20px 0;
    }
    .contact-content {
        padding-bottom: 5.3%;
    }
    .input-feilds p {
        font-size: 12px;
    }
    /* -----------------------------contact page css ends here  ------------------------*/
    /* -----------------------------faq page css ends here  ------------------------*/
    .tab-slide-option {
        width: 99%;
        font-size: 16px;
        line-height: 36px;
        padding: 0 3% 0 4%;
    }
    #parent-accordian {
        background: #f6f8fa;
    }
    .faq-heading .heading-text {
        font-size: 24px;
    }
    .body-start.faq-page-body {
        margin-top: 48px;
    }
    .service-accordian {
        background: #ffffff;
    }
    .faq-card .faq-question {
        font-size: 12px !important;
        line-height: 15px !important;
    }
    #service-main-accordian .card-body-content p,
    #pricing-main-accordian .card-body-content p {
        font-size: 12px;
        letter-spacing: .09px;
        line-height: 18px;
        padding-bottom: 15px;
        padding-right: 15px;
        color: #777384;
        margin-bottom: 0;
    }
    /* -----------------------------faq page css ends here  ------------------------*/
    .looking-for-help-inner-container {
        padding: 32px 32px 16% 2.5%;
    }
    .looking-for-help-button-container .tertiary-button {
        padding-left: 0;
    }
    .looking-for-help-title {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.12px;
        width: auto;
    }
    .offering-page-content,
    .looking-for-help-content {
        color: #777384;
        font-size: 12px;
        letter-spacing: .09px;
        line-height: 18px;
    }
    #offerings-parent-accordian {
        background: #f6f8fa;
    }
}